<header>war9a numérique</header>

<ng-container *ngIf="!isPartyOn">
  <form [formGroup]="partySettings">
      <div class="main-container">
        <div class="child-container">
          <input class="text-input" placeholder="name Team1" type="text" formControlName="equipe1">
          <div class="separator"></div>
          <input class="text-input" placeholder="name Team2" type="text" formControlName="equipe2">
          <div class="separator"></div>
          <input class="text-input" placeholder="score Max" type="number" formControlName="scoreMax">
        </div>
      </div>
  </form>

  <div class="separator"></div>

  <div *ngIf="partySettings.valid" class="main-container">
    <div class="btn-with-img btn-with-img-100">
      <img (click)="startGame()"src="./assets/Gants.svg">
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isPartyOn">

  <div>
    <div class="child-container">
      <span style="color: #881010">Score de la mort :<b>{{partySettings.get('scoreMax')?.value}}</b></span>
    </div>
  </div>

  <div class="separator"></div>

  <div class="main-container">
    <div class="child-container">
      <span class="team-title" [innerHTML]="scoreObject()[0].teamTitle"></span>
      <span *ngFor="let scoreT1 of scoreObject()[0].teamScores">{{scoreT1}}</span>
    </div>

    <div class="child-container">
      <span class="team-title" [innerHTML]="scoreObject()[1].teamTitle"></span>
      <span *ngFor="let scoreT2 of scoreObject()[1].teamScores">{{scoreT2}}</span>
    </div>
  </div>

  <div class="separator"></div>

  <div class="main-container"  *ngIf="!endOfGame">
    <div class="child-container">
      <div class="btn-with-img btn-with-img-45">
        <img (click)="lakma(1, 0)" src="./assets/lakma.svg">
      </div>
    </div>
    <div class="child-container">
      <div class="btn-with-img btn-with-img-45">
        <img (click)="lakma(0, 1)" src="./assets/lakma.svg">
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <form [formGroup]="scoringForm">
    <div class="main-container">
      <div class="child-container">
        <input class="score-input" placeholder="score T1" type="number" formControlName="scoreT1">
      </div>
      <div class="child-container">
        <input class="score-input" placeholder="score T2" type="number" formControlName="scoreT2">
      </div>
    </div>
  </form>


  <div class="separator"></div>

  <div class="main-container" *ngIf="!endOfGame">
    <button class="btn-normal" (click)="pushNewScore()" [disabled]="!(scoringForm.get('scoreT1')?.valid || scoringForm.get('scoreT2')?.valid)">9ayyed</button>
  </div>

<!--
  <div class="separator"></div>

  <div class="main-container">
    <button class="btn-normal" (click)="tafricha()">Friiish</button>
  </div>
-->

  <div class="separator"></div>

  <div class="main-container">
    <button class="btn-normal" (click)="newGame()">Tore7 Jdid</button>
  </div>

  <div class="separator"></div>

  <div class="main-container">
    <button class="btn-normal" (click)="rollBack()" [disabled]="scoreObject()[0].teamScores.length <= 1">Arja3</button>
  </div>
</ng-container>

<footer></footer>
